# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.production
sanity/.env
sanity/.env.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Astro
.astro/

#misc
import.posts.mjs